if SHIELD_NORWID_LEFT

config ZMK_KEYBOARD_NAME
    default "norwid"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NORWID_SILENT_LEFT

config ZMK_KEYBOARD_NAME
    default "silent_norwid"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_DISPLAY
    default y

endif

if SHIELD_NORWID_LEFT || SHIELD_NORWID_RIGHT

config ZMK_SPLIT
    default y

config ZMK_DISPLAY

if ZMK_DISPLAY

config SSD1306
    default y

config I2C
    default y

endif # ZMK_DISPLAY

endif