if SHIELD_NORWID_LEFT

config ZMK_KEYBOARD_NAME
    default "norwid"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NORWID_LEFT || SHIELD_NORWID_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

config ZMK_WIDGET_OUTPUT_STATUS
    default y

config ZMK_WIDGET_WPM_STATUS
    default y

endif #ZMK_DISPLAY

endif