#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        base_layer {
            label = "BASE";
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P
                &hm LGUI A  &hm LALT S  &hm LCTRL D &hm LSHFT F &kp G           &kp H       &hm RSHFT J &hm RCTRL K &hm LALT L  &hm LGUI SQT
                &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH     
                &kp N1      &kp DEL     &kp N3      &kp TAB     &kp SPACE       &kp ENTER   &kp BSPC    &kp N5      &kp N7      &kp N8
            >;
        };
        nav_layer {
            bindings = <
                &kp ESC     &trans      &trans      &trans      &trans          &trans      &kp HOME    &kp UP      &kp END     &kp PG_UP
                &trans      &trans      &trans      &trans      &trans          &trans      &kp LEFT    &kp DOWN    &kp RIGHT   &kp PG_DN
                &trans      &trans      &trans      &trans      &trans          &trans      &kp trans   &trans      &trans      &kp FSLH     
                &kp N1      &kp DEL     &kp N3      &kp TAB     &kp SPACE       &kp ENTER   &kp trans   &kp trans   &kp trans   &trans
            >;
        };
    }; 
};