if SHIELD_NICE_NORWID

# Enable Zephyr display subsystem
config ZMK_DISPLAY
    default y

# Enable the Sharp LS0xx driver (built into Zephyr)
config LS0XX
    default y

# Optional: use LVGL for UI widgets
config LVGL
    default y

# Enable the Montserrat 48pt font used by the MJ widget.
# Drop to _32 or _24 if you are tight on flash.
config LV_FONT_MONTSERRAT_48
    default y

# MJ widget
config ZMK_WIDGET_MJ
    default y
                        
choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif #SHIELD_NICE_NORWID